.navbar
{
    margin-bottom: 0;
    border-radius: 0;
}

.banner
{
    background-image: url("../img/placeholder.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer
{
    background-color: #8fd9f1;
}

.has-error
{
    color: #ff0000;
}

.nd_admin
{
    background-color: dimgrey;
    color: #000000;
}

.nd_menu
{
    border: 1px solid #c03820;
    border-radius: 5px;
    padding: 0;
    background-color: #7f2516;
}

.nd_menu > div
{
    padding: 5px 2px;
}

.nd_menu > div > button
{
    width: 100%;
    text-align: left;
    border-color: #671f12;
}

.nd_result
{
    padding: 10px 0;
}