.navbar
{
    margin-bottom: 0;
    border-radius: 0;
}

.jumbotron
{
    background-image: url("../img/placeholder.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer
{
    background-color: #8fd9f1;
}